.container { 
  width: 1440px;
  align-self: center;
  margin-inline: auto;
}
.text{
  color: white;
    border-right: 2px solid#9e2349;
    font-size: 55px;
    font-family: sans-serif;
    color: #9e2349;
}

.landing-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.landing-page .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 1663px;
  position: relative;
}

.landing-page .overlap {
  position: absolute;
  width: 1501px;
  height: 1232px;
  top: -332px;
  left: 0;
}

.landing-page .ellipse {
  position: absolute;
  width: 513px;
  height: 513px;
  top: 0;
  left: 322px;
  background-color: #7d59c3;
  border-radius: 256.5px;
  filter: blur(200px);
  opacity: 0.3;
}

.landing-page .rectangle {
  position: absolute;
  width: 1440px;
  height: 900px;
  top: 332px;
  left: 0;
}

.landing-page .img {
  position: absolute;
  width: 595px;
  height: 900px;
  top: 332px;
  left: 845px;
  object-fit: cover;
}

.landing-page .group {
  position: absolute;
  width: 90px;
  height: 54px;
  top: 359px;
  left: 75px;
}

.landing-page .text-wrapper {
  position: absolute;
  top: 372px;
  left: 290px;
  font-family: "Lexend", serif;
  font-weight: 500;
  color: #2f3130;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-2 {
  position: absolute;
  top: 372px;
  left: 218px;
  font-family: "Lexend", serif;
  font-weight: 700;
  color: #7c5ac7;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-3 {
  position: absolute;
  top: 372px;
  left: 378px;
  font-family: "Lexend", serif;
  font-weight: 500;
  color: #2f3130;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-4 {
  position: absolute;
  top: 372px;
  left: 462px;
  font-family: "Lexend", serif;
  font-weight: 500;
  color: #2f3130;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-5 {
  top: 372px;
  left: 569px;
  font-family: "Lexend", serif;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  line-height: normal;
  position: absolute;
  color: #2f3130;
  letter-spacing: 0;
}

.landing-page .text-wrapper-6 {
  position: absolute;
  top: 372px;
  left: 665px;
  font-family: "Lexend", serif;
  font-weight: 500;
  color: #2f3130;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .ellipse-2 {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 401px;
  left: 236px;
  background-color: #7c5ac7;
  border-radius: 3px;
}

.landing-page .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: 522px;
  left: 75px;
}

.landing-page .unprecedented-era-of {
  position: relative;
  width: 548px;
  margin-top: -1px;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  color: transparent;
  font-size: 71px;
  letter-spacing: 0;
  line-height: 92.3px;
}

.landing-page .span {
  color: #2f3130;
}

.landing-page .text-wrapper-7 {
  color: #9e2349;
}

.landing-page .p {
  position: relative;
  width: 548px;
  opacity: 0.5;
  font-family: "Lexend", serif;
  font-weight: 500;
  color: #2f3130;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
  margin-top: -10%;
}

.landing-page .frame-2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  padding: 20px 40px;
  position: absolute;
  top: 900px;
  left: 75px;
  background-color: #7d59c3;
  border-radius: 20px;
  box-shadow: 10px 10px 30px #7d59c333;
}

.landing-page .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Lexend", serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .arrow-right-line {
  position: relative;
  width: 20px;
  height: 20px;
}

.landing-page .div-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 40px;
  position: absolute;
  top: 353px;
  left: 1238px;
  background-color: #ffffff;
  border-radius: 20px;
}

.landing-page .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Lexend", serif;
  font-weight: 600;
  color: #7d59c3;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .frame-3 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 40px;
  position: absolute;
  top: 353px;
  left: 1065px;
  border-radius: 20px;
  border: 1.5px solid;
  border-color: #ffffff;
}

.landing-page .text-wrapper-10 {
  position: relative;
  width: fit-content;
  margin-top: -1.5px;
  font-family: "Lexend", serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .frame-4 {
  display: inline-flex;
  align-items: flex-start;
  gap: 30px;
  position: absolute;
  top: 1070px;
  left: 75px;
}

.landing-page .frame-5 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  position: relative;
  flex: 0 0 auto;
}

.landing-page .text-wrapper-11 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Lexend", serif;
  font-weight: 700;
  color: #7c5ac7;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-12 {
  position: relative;
  width: 190px;
  font-family: "Lexend", serif;
  font-weight: 500;
  color: #2f3130;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-13 {
  position: absolute;
  top: 497px;
  left: 108px;
  font-family: "Lexend", serif;
  font-weight: 600;
  color: #9e2349;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.landing-page .line {
  position: absolute;
  width: 23px;
  height: 4px;
  top: 509px;
  left: 75px;
}

.landing-page .overlap-wrapper {
  position: absolute;
  width: 363px;
  height: 693px;
  top: 474px;
  left: 767px;
}

.landing-page .overlap-group {
  position: relative;
  width: 340px;
  height: 719px;
  top: -13px;
  left: -13px;
  background-color: #ffffff;
  border-radius: 50px;
  border-style: solid;
  border-color: #00000014;
  border-width: 10px;
}

.landing-page .group-2 {
  position: absolute;
  width: 178px;
  height: 17px;
  top: 178px;
  left: 144px;
}

.landing-page .group-3 {
  position: absolute;
  width: 178px;
  height: 7px;
  top: 0;
  left: 0;
  background-color: #1c6de2;
}

.landing-page .overlap-group-wrapper {
  position: absolute;
  width: 178px;
  height: 7px;
  top: 10px;
  left: 0;
}

.landing-page .overlap-group-2 {
  position: relative;
  height: 7px;
  border-radius: 0px 36.11px 36.11px 0px;
}

.landing-page .rectangle-2 {
  position: absolute;
  width: 178px;
  height: 7px;
  top: 0;
  left: 0;
  background-color: #009639;
  border-radius: 0px 36.11px 36.11px 0px;
  opacity: 0.21;
}

.landing-page .rectangle-3 {
  position: absolute;
  width: 118px;
  height: 7px;
  top: 0;
  left: 0;
  background-color: #009639;
  border-radius: 0px 36.11px 36.11px 0px;
}

.landing-page .overlap-2 {
  position: absolute;
  width: 302px;
  height: 465px;
  top: 209px;
  left: 25px;
}

.landing-page .group-4 {
  position: absolute;
  width: 181px;
  height: 17px;
  top: 354px;
  left: 119px;
}

.landing-page .group-5 {
  position: absolute;
  width: 181px;
  height: 7px;
  top: 0;
  left: 0;
  background-color: #1c6de2;
}

.landing-page .group-6 {
  position: absolute;
  width: 181px;
  height: 7px;
  top: 10px;
  left: 0;
}

.landing-page .rectangle-4 {
  position: absolute;
  width: 181px;
  height: 7px;
  top: 0;
  left: 0;
  background-color: #009639;
  border-radius: 0px 36.11px 36.11px 0px;
  opacity: 0.21;
}

.landing-page .rectangle-5 {
  position: absolute;
  width: 120px;
  height: 7px;
  top: 0;
  left: 0;
  background-color: #009639;
  border-radius: 0px 36.11px 36.11px 0px;
}

.landing-page .text-wrapper-14 {
  position: absolute;
  width: 72px;
  top: 0;
  left: 0;
  opacity: 0.5;
  font-family: "Roboto", serif;
  font-weight: 400;
  color: #2f3130;
  font-size: 14.4px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .text-wrapper-15 {
  top: 385px;
  position: absolute;
  width: 72px;
  left: 0;
  opacity: 0.5;
  font-family: "Roboto", serif;
  font-weight: 400;
  color: #2f3130;
  font-size: 14.4px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .text-wrapper-16 {
  position: absolute;
  width: 79px;
  top: 0;
  left: 220px;
  opacity: 0.5;
  font-family: "Roboto", serif;
  font-weight: 400;
  color: #2f3130;
  font-size: 14.4px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .text-wrapper-17 {
  top: 385px;
  position: absolute;
  width: 79px;
  left: 220px;
  opacity: 0.5;
  font-family: "Roboto", serif;
  font-weight: 400;
  color: #2f3130;
  font-size: 14.4px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .text-wrapper-18 {
  position: absolute;
  width: 75px;
  top: 0;
  left: 108px;
  opacity: 0.5;
  font-family: "Roboto", serif;
  font-weight: 400;
  color: #2f3130;
  font-size: 14.4px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .text-wrapper-19 {
  top: 385px;
  position: absolute;
  width: 75px;
  left: 108px;
  opacity: 0.5;
  font-family: "Roboto", serif;
  font-weight: 400;
  color: #2f3130;
  font-size: 14.4px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .text-wrapper-20 {
  position: absolute;
  width: 61px;
  top: 17px;
  left: 0;
  font-family: "Roboto", serif;
  font-weight: 500;
  color: #2f3130;
  font-size: 14.4px;
  letter-spacing: 0;
  line-height: 25.3px;
  white-space: nowrap;
}

.landing-page .text-wrapper-21 {
  width: 54px;
  top: 402px;
  left: 0;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 14.4px;
  line-height: 25.3px;
  position: absolute;
  color: #2f3130;
  letter-spacing: 0;
  white-space: nowrap;
}

.landing-page .text-wrapper-22 {
  width: 61px;
  top: 17px;
  left: 108px;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 14.4px;
  line-height: 25.3px;
  position: absolute;
  color: #2f3130;
  letter-spacing: 0;
  white-space: nowrap;
}

.landing-page .text-wrapper-23 {
  width: 54px;
  top: 402px;
  left: 108px;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 14.4px;
  line-height: 25.3px;
  position: absolute;
  color: #2f3130;
  letter-spacing: 0;
  white-space: nowrap;
}

.landing-page .text-wrapper-24 {
  width: 61px;
  top: 17px;
  left: 220px;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 14.4px;
  line-height: 25.3px;
  position: absolute;
  color: #2f3130;
  letter-spacing: 0;
  white-space: nowrap;
}

.landing-page .text-wrapper-25 {
  width: 54px;
  top: 402px;
  left: 220px;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 14.4px;
  line-height: 25.3px;
  position: absolute;
  color: #2f3130;
  letter-spacing: 0;
  white-space: nowrap;
}

.landing-page .element-yield {
  position: absolute;
  width: 78px;
  top: 325px;
  left: 207px;
  font-family: "Roboto", serif;
  font-weight: 400;
  color: #2f3130;
  font-size: 14.4px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .text-wrapper-26 {
  font-weight: 700;
}

.landing-page .text-wrapper-27 {
  font-family: "Roboto", serif;
}

.landing-page .line-2 {
  position: absolute;
  width: 301px;
  height: 1px;
  top: 53px;
  left: 1px;
}

.landing-page .line-3 {
  position: absolute;
  width: 301px;
  height: 1px;
  top: 246px;
  left: 1px;
}

.landing-page .line-4 {
  position: absolute;
  width: 301px;
  height: 1px;
  top: 438px;
  left: 1px;
}

.landing-page .group-7 {
  position: absolute;
  width: 205px;
  height: 460px;
  top: 4px;
  left: 48px;
}

.landing-page .group-8 {
  position: absolute;
  width: 24px;
  height: 11px;
  top: 0;
  left: 0;
}

.landing-page .group-9 {
  position: absolute;
  width: 24px;
  height: 11px;
  top: 0;
  left: 60px;
}

.landing-page .group-10 {
  position: absolute;
  width: 24px;
  height: 11px;
  top: 0;
  left: 120px;
}

.landing-page .group-11 {
  position: absolute;
  width: 24px;
  height: 11px;
  top: 0;
  left: 181px;
}

.landing-page .ellipse-3 {
  position: absolute;
  width: 5px;
  height: 5px;
  top: 456px;
  left: 10px;
  background-color: #7c5ac7;
  border-radius: 2.41px;
}

.landing-page .text-wrapper-28 {
  position: absolute;
  width: 132px;
  top: 284px;
  left: 123px;
  font-family: "Roboto", serif;
  font-weight: 400;
  color: #2f3130;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .rectangle-6 {
  position: absolute;
  width: 96px;
  height: 114px;
  top: 259px;
  left: 0;
  object-fit: cover;
}

.landing-page .text-wrapper-29 {
  position: absolute;
  width: 57px;
  top: 259px;
  left: 123px;
  font-family: "Roboto", serif;
  font-weight: 700;
  color: #2f3130;
  font-size: 16.9px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .element-yield-2 {
  top: 149px;
  left: 232px;
  position: absolute;
  width: 78px;
  font-family: "Roboto", serif;
  font-weight: 400;
  color: #2f3130;
  font-size: 14.4px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .line-graph {
  position: absolute;
  width: 37px;
  height: 7px;
  top: 167px;
  left: 147px;
}

.landing-page .text-wrapper-30 {
  position: absolute;
  width: 94px;
  top: 43px;
  left: 37px;
  font-family: "Roboto", serif;
  font-weight: 700;
  color: #2f3130;
  font-size: 16.9px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .text-wrapper-31 {
  width: 132px;
  top: 108px;
  left: 148px;
  font-size: 12px;
  position: absolute;
  font-family: "Roboto", serif;
  font-weight: 400;
  color: #2f3130;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .rectangle-7 {
  position: absolute;
  width: 96px;
  height: 114px;
  top: 83px;
  left: 25px;
}

.landing-page .text-wrapper-32 {
  position: absolute;
  width: 52px;
  top: 83px;
  left: 148px;
  font-family: "Roboto", serif;
  font-weight: 700;
  color: #2f3130;
  font-size: 16.9px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .group-12 {
  position: absolute;
  width: 359px;
  height: 693px;
  top: 474px;
  left: 1142px;
}

.landing-page .overlap-3 {
  position: relative;
  width: 351px;
  height: 719px;
  top: -13px;
  left: -13px;
  background-color: #ffffff;
  border-radius: 50px;
  border-style: solid;
  border-color: #00000014;
  border-width: 10px;
}

.landing-page .overlap-4 {
  position: absolute;
  width: 298px;
  height: 200px;
  top: 13px;
  left: 13px;
}

.landing-page .overlap-5 {
  position: absolute;
  width: 298px;
  height: 200px;
  top: 0;
  left: 0;
}

.landing-page .rectangle-8 {
  position: absolute;
  width: 298px;
  height: 132px;
  top: 0;
  left: 0;
}

.landing-page .ellipse-4 {
  position: absolute;
  width: 106px;
  height: 106px;
  top: 94px;
  left: 7px;
}

.landing-page .text-wrapper-33 {
  position: absolute;
  width: 82px;
  top: 142px;
  left: 118px;
  font-family: "Roboto", serif;
  font-weight: 700;
  color: #2f3130;
  font-size: 16.9px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .text-wrapper-34 {
  position: absolute;
  width: 52px;
  top: 165px;
  left: 118px;
  opacity: 0.5;
  font-family: "Roboto", serif;
  font-weight: 400;
  color: #2f3130;
  font-size: 14.4px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .overlap-6 {
  position: absolute;
  width: 325px;
  height: 460px;
  top: 213px;
  left: 13px;
}

.landing-page .overlap-group-3 {
  position: absolute;
  width: 325px;
  height: 460px;
  top: 0;
  left: 0;
}

.landing-page .text-wrapper-35 {
  position: absolute;
  width: 63px;
  top: 151px;
  left: 12px;
  opacity: 0.5;
  font-family: "Roboto", serif;
  font-weight: 500;
  color: #2f3130;
  font-size: 14.4px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .text-wrapper-36 {
  position: absolute;
  width: 29px;
  top: 151px;
  left: 175px;
  opacity: 0.5;
  font-family: "Roboto", serif;
  font-weight: 500;
  color: #2f3130;
  font-size: 14.4px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .text-wrapper-37 {
  position: absolute;
  width: 69px;
  top: 235px;
  left: 175px;
  opacity: 0.5;
  font-family: "Roboto", serif;
  font-weight: 500;
  color: #2f3130;
  font-size: 14.4px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .text-wrapper-38 {
  width: 107px;
  top: 316px;
  left: 199px;
  opacity: 0.5;
  font-size: 14.4px;
  white-space: nowrap;
  position: absolute;
  font-family: "Roboto", serif;
  font-weight: 400;
  color: #2f3130;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .rectangle-9 {
  position: absolute;
  width: 162px;
  height: 84px;
  top: 11px;
  left: 0;
  background-color: #f2eff9;
}

.landing-page .rectangle-10 {
  position: absolute;
  width: 162px;
  height: 84px;
  top: 11px;
  left: 162px;
  background-color: #ebf8f0;
}

.landing-page .element-deals {
  position: absolute;
  width: 36px;
  top: 37px;
  left: 72px;
  font-family: "Roboto", serif;
  font-weight: 400;
  color: transparent;
  font-size: 14.4px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-39 {
  font-weight: 700;
  color: #7d59c3;
}

.landing-page .text-wrapper-40 {
  font-family: "Roboto", serif;
  color: #2f3130;
}

.landing-page .text-wrapper-41 {
  width: 100px;
  top: 120px;
  left: 12px;
  font-family: "Roboto", serif;
  font-weight: 900;
  font-size: 21.7px;
  line-height: normal;
  position: absolute;
  color: #2f3130;
  letter-spacing: 0;
  white-space: nowrap;
}

.landing-page .text-wrapper-42 {
  width: 100px;
  top: 204px;
  left: 12px;
  font-family: "Roboto", serif;
  font-weight: 900;
  font-size: 21.7px;
  line-height: normal;
  position: absolute;
  color: #2f3130;
  letter-spacing: 0;
  white-space: nowrap;
}

.landing-page .text-wrapper-43 {
  width: 100px;
  top: 120px;
  left: 175px;
  font-family: "Roboto", serif;
  font-weight: 900;
  font-size: 21.7px;
  line-height: normal;
  position: absolute;
  color: #2f3130;
  letter-spacing: 0;
  white-space: nowrap;
}

.landing-page .text-wrapper-44 {
  position: absolute;
  width: 25px;
  top: 204px;
  left: 175px;
  font-family: "Roboto", serif;
  font-weight: 900;
  color: #2f3130;
  font-size: 21.7px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .element-match {
  position: absolute;
  width: 41px;
  top: 37px;
  left: 235px;
  font-family: "Roboto", serif;
  font-weight: 400;
  color: transparent;
  font-size: 14.4px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-45 {
  font-weight: 700;
  color: #36b368;
}

.landing-page .text-wrapper-46 {
  position: absolute;
  width: 28px;
  top: 211px;
  left: 117px;
  font-family: "Roboto", serif;
  font-weight: 700;
  color: #36b368;
  font-size: 14.4px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .text-wrapper-47 {
  position: absolute;
  width: 49px;
  top: 211px;
  left: 205px;
  opacity: 0.5;
  font-family: "Roboto", serif;
  font-weight: 400;
  color: #2f3130;
  font-size: 14.4px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .ellipse-5 {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 30px;
  left: 12px;
  background-color: #ffffff;
  border-radius: 24.07px;
  box-shadow: 0px 4.81px 4.81px #7d59c31a;
}

.landing-page .ellipse-6 {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 30px;
  left: 175px;
  background-color: #ffffff;
  border-radius: 24.07px;
  box-shadow: 0px 4.81px 4.81px #a7debd33;
}

.landing-page .group-13 {
  position: absolute;
  width: 205px;
  height: 460px;
  top: 0;
  left: 60px;
}

.landing-page .briefcase {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 43px;
  left: 25px;
}

.landing-page .user-heart-line {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 44px;
  left: 188px;
}

.landing-page .line-5 {
  position: absolute;
  width: 286px;
  height: 1px;
  top: 275px;
  left: 12px;
}

.landing-page .ellipse-7 {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 300px;
  left: 141px;
  background-color: #ffffff;
  border-radius: 24.07px;
  border: 1.81px solid;
  border-color: #7c5ac7;
}

.landing-page .text-wrapper-48 {
  position: absolute;
  width: 20px;
  top: 317px;
  left: 158px;
  font-family: "Roboto", serif;
  font-weight: 500;
  color: #7c5ac7;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .ellipse-8 {
  position: absolute;
  width: 58px;
  height: 58px;
  top: 298px;
  left: 104px;
}

.landing-page .ellipse-9 {
  position: absolute;
  width: 58px;
  height: 58px;
  top: 298px;
  left: 79px;
}

.landing-page .ellipse-10 {
  position: absolute;
  width: 58px;
  height: 58px;
  top: 298px;
  left: 55px;
}

.landing-page .ellipse-11 {
  position: absolute;
  width: 58px;
  height: 58px;
  top: 298px;
  left: 31px;
}

.landing-page .ellipse-12 {
  position: absolute;
  width: 58px;
  height: 58px;
  top: 298px;
  left: 7px;
}

.landing-page .text-wrapper-49 {
  position: absolute;
  width: 46px;
  top: 235px;
  left: 12px;
  opacity: 0.5;
  font-family: "Roboto", serif;
  font-weight: 500;
  color: #2f3130;
  font-size: 14.4px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .text-wrapper-50 {
  position: absolute;
  width: 28px;
  top: 127px;
  left: 279px;
  font-family: "Roboto", serif;
  font-weight: 700;
  color: #36b368;
  font-size: 14.4px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .group-14 {
  position: absolute;
  width: 330px;
  height: 367px;
  top: 534px;
  left: 735px;
}

.landing-page .overlap-7 {
  position: relative;
  width: 333px;
  height: 367px;
}

.landing-page .rectangle-11 {
  position: absolute;
  width: 330px;
  height: 199px;
  top: 168px;
  left: 0;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 10px 10px 50px #00000026;
}

.landing-page .group-15 {
  position: absolute;
  width: 318px;
  height: 351px;
  top: 0;
  left: 15px;
}

.landing-page .rectangle-12 {
  position: absolute;
  width: 181px;
  height: 7px;
  top: 278px;
  left: 112px;
  background-color: #1c6de2;
  border-radius: 0px 36.11px 36.11px 0px;
}

.landing-page .overlap-group-4 {
  position: absolute;
  width: 181px;
  height: 7px;
  top: 288px;
  left: 112px;
  border-radius: 0px 36.11px 36.11px 0px;
}

.landing-page .text-wrapper-51 {
  top: 309px;
  position: absolute;
  width: 72px;
  left: 0;
  opacity: 0.5;
  font-family: "Roboto", serif;
  font-weight: 400;
  color: #2f3130;
  font-size: 14.4px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .text-wrapper-52 {
  top: 309px;
  position: absolute;
  width: 79px;
  left: 220px;
  opacity: 0.5;
  font-family: "Roboto", serif;
  font-weight: 400;
  color: #2f3130;
  font-size: 14.4px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .text-wrapper-53 {
  top: 309px;
  position: absolute;
  width: 75px;
  left: 108px;
  opacity: 0.5;
  font-family: "Roboto", serif;
  font-weight: 400;
  color: #2f3130;
  font-size: 14.4px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .text-wrapper-54 {
  width: 61px;
  top: 326px;
  left: 0;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 14.4px;
  line-height: 25.3px;
  position: absolute;
  color: #2f3130;
  letter-spacing: 0;
  white-space: nowrap;
}

.landing-page .text-wrapper-55 {
  width: 61px;
  top: 326px;
  left: 108px;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 14.4px;
  line-height: 25.3px;
  position: absolute;
  color: #2f3130;
  letter-spacing: 0;
  white-space: nowrap;
}

.landing-page .text-wrapper-56 {
  width: 61px;
  top: 326px;
  left: 220px;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 14.4px;
  line-height: 25.3px;
  position: absolute;
  color: #2f3130;
  letter-spacing: 0;
  white-space: nowrap;
}

.landing-page .element-yield-3 {
  top: 249px;
  left: 200px;
  position: absolute;
  width: 78px;
  font-family: "Roboto", serif;
  font-weight: 400;
  color: #2f3130;
  font-size: 14.4px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .line-graph-2 {
  position: absolute;
  width: 37px;
  height: 7px;
  top: -1px;
  left: 115px;
}

.landing-page .text-wrapper-57 {
  width: 132px;
  top: 208px;
  left: 116px;
  font-size: 12px;
  position: absolute;
  font-family: "Roboto", serif;
  font-weight: 400;
  color: #2f3130;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .rectangle-13 {
  position: absolute;
  width: 96px;
  height: 114px;
  top: 183px;
  left: 0;
}

.landing-page .text-wrapper-58 {
  position: absolute;
  width: 158px;
  top: 183px;
  left: 116px;
  font-family: "Roboto", serif;
  font-weight: 700;
  color: #2f3130;
  font-size: 16.9px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .group-16 {
  position: absolute;
  width: 277px;
  height: 60px;
  top: 1085px;
  left: 789px;
  background-color: #ffffff;
  border-radius: 30.09px;
  box-shadow: 0px 7.22px 12.04px #7d59c31a;
}

.landing-page .group-17 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 18px;
  left: 36px;
}

.landing-page .group-18 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 18px;
  left: 96px;
}

.landing-page .group-19 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 18px;
  left: 156px;
}

.landing-page .group-20 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 18px;
  left: 217px;
}

.landing-page .ellipse-13 {
  position: absolute;
  width: 5px;
  height: 5px;
  top: 47px;
  left: 46px;
  background-color: #7c5ac7;
  border-radius: 2.41px;
}

.landing-page .group-21 {
  position: absolute;
  width: 277px;
  height: 60px;
  top: 1085px;
  left: 1154px;
  background-color: #ffffff;
  border-radius: 30.09px;
  box-shadow: 0px 7.22px 12.04px #7d59c31a;
}

.landing-page .overlap-8 {
  position: absolute;
  width: 1440px;
  height: 1850px;
  top: 900px;
  left: 0;
}

.landing-page .rectangle-14 {
  position: absolute;
  width: 1440px;
  height: 1850px;
  top: 0;
  left: 0;
  background-color: #f5f4f8;
  transform: rotate(-180deg);
}

.landing-page .line-6 {
  position: absolute;
  width: 23px;
  height: 4px;
  top: 115px;
  left: 90px;
}

.landing-page .text-wrapper-59 {
  position: absolute;
  width: 380px;
  top: 139px;
  left: 90px;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  color: #2f3130;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 54px;
}

.landing-page .text-wrapper-60 {
  position: absolute;
  top: 105px;
  left: 123px;
  font-family: "Lexend", serif;
  font-weight: 600;
  color: #9e2349;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.landing-page .text-wrapper-61 {
  position: absolute;
  width: 240px;
  top: 121px;
  left: 670px;
  font-family: "Lexend", serif;
  font-weight: 600;
  color: #2f3130;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28.8px;
}

.landing-page .text-wrapper-62 {
  position: absolute;
  width: 350px;
  top: 215px;
  left: 560px;
  font-family: "Lexend", serif;
  font-weight: 400;
  color: #2f3130;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
}

.landing-page .text-wrapper-63 {
  position: absolute;
  width: 240px;
  top: 455px;
  left: 230px;
  font-family: "Lexend", serif;
  font-weight: 600;
  color: #2f3130;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28.8px;
}

.landing-page .text-wrapper-64 {
  position: absolute;
  width: 350px;
  top: 535px;
  left: 120px;
  font-family: "Lexend", serif;
  font-weight: 400;
  color: #2f3130;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
}

.landing-page .text-wrapper-65 {
  position: absolute;
  width: 240px;
  top: 121px;
  left: 1110px;
  font-family: "Lexend", serif;
  font-weight: 600;
  color: #2f3130;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28.8px;
}

.landing-page .text-wrapper-66 {
  position: absolute;
  width: 350px;
  top: 215px;
  left: 1000px;
  font-family: "Lexend", serif;
  font-weight: 400;
  color: #2f3130;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
}

.landing-page .text-wrapper-67 {
  position: absolute;
  width: 240px;
  top: 455px;
  left: 670px;
  font-family: "Lexend", serif;
  font-weight: 600;
  color: #2f3130;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28.8px;
}

.landing-page .understand-the {
  position: absolute;
  width: 350px;
  top: 535px;
  left: 560px;
  font-family: "Lexend", serif;
  font-weight: 400;
  color: #2f3130;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
}

.landing-page .text-wrapper-68 {
  width: 240px;
  top: 455px;
  left: 1110px;
  font-family: "Lexend", serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 28.8px;
  position: absolute;
  color: #2f3130;
  letter-spacing: 0;
}

.landing-page .text-wrapper-69 {
  position: absolute;
  width: 350px;
  top: 535px;
  left: 1000px;
  font-family: "Lexend", serif;
  font-weight: 400;
  color: #2f3130;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
}

.landing-page .group-wrapper {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 106px;
  left: 560px;
  background-color: #ffffff;
  border-radius: 45px;
  box-shadow: 6px 6px 20px #7d59c333;
}

.landing-page .group-22 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 20px;
  left: 20px;
}

.landing-page .img-wrapper {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 106px;
  left: 1000px;
  background-color: #ffffff;
  border-radius: 45px;
  box-shadow: 6px 6px 20px #7d59c333;
}

.landing-page .group-23 {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 426px;
  left: 120px;
  background-color: #ffffff;
  border-radius: 45px;
  box-shadow: 6px 6px 20px #7d59c333;
}

.landing-page .group-24 {
  position: absolute;
  width: 60px;
  height: 45px;
  top: 22px;
  left: 15px;
}

.landing-page .group-25 {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 426px;
  left: 1000px;
  background-color: #ffffff;
  border-radius: 45px;
  box-shadow: 6px 6px 20px #7d59c333;
}

.landing-page .group-26 {
  position: absolute;
  width: 50px;
  height: 48px;
  top: 21px;
  left: 20px;
}

.landing-page .group-27 {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 426px;
  left: 560px;
  background-color: #ffffff;
  border-radius: 45px;
  box-shadow: 6px 6px 20px #7d59c333;
}

.landing-page .group-28 {
  position: absolute;
  width: 51px;
  height: 32px;
  top: 29px;
  left: 20px;
}

.landing-page .line-7 {
  position: absolute;
  width: 2px;
  height: 580px;
  top: 83px;
  left: 515px;
}

.landing-page .line-8 {
  position: absolute;
  width: 1310px;
  height: 2px;
  top: 384px;
  left: 80px;
}

.landing-page .line-9 {
  position: absolute;
  width: 2px;
  height: 580px;
  top: 83px;
  left: 955px;
}
.component {
  position: relative;
  width: 100%;
  height: 500px;
  left: 0;
  background-color: #202121;
}

.component .text-wrapper {
  position: absolute;
  width: 440px;
  top: 168px;
  left: 75px;
  font-family: "Urbanist", serif;
  font-weight: 800;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0.19px;
  line-height: 33.6px;
  
}

.component .sign-up-button {
  position: absolute;
  width: 202px;
  height: 60px;
  top: 261px;
  left: 75px;
}

.component .overlap-group {
  position: relative;
  width: 200px;
  height: 60px;
  background-color: #7c5ac7;
  border-radius: 20px;
  box-shadow: 0px 6px 10px 2px #00000026;
}

.component .div {
  position: absolute;
  top: 21px;
  left: 36px;
  font-family: "Urbanist", serif;
  font-weight: 800;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.06px;
  line-height: 19.6px;
  white-space: nowrap;
}

.component .newsketter {
  position: absolute;
  width: 444px;
  height: 55px;
  top: 64px;
  left: 75px;
}

.component .overlap {
  position: relative;
  width: 440px;
  height: 55px;
  border-radius: 15px;
}

.component .rectangle {
  width: 440px;
  height: 55px;
  top: 0;
  left: 0;
  background-color: #202221;
  border: 1px solid;
  border-color: #ffffff;
  opacity: 0.3;
  position: absolute;
  border-radius: 15px;
  box-shadow: 0px 6px 10px 2px #00000026;
}

.component .rectangle-2 {
  width: 185px;
  height: 45px;
  top: 5px;
  left: 250px;
  background-color: #2d302f;
  position: absolute;
  border-radius: 15px;
  box-shadow: 0px 6px 10px 2px #00000026;
}

.component .text-wrapper-2 {
  position: absolute;
  top: 20px;
  left: 277px;
  font-family: "Urbanist", serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.05px;
  line-height: 16.8px;
  white-space: nowrap;
}

.component .text-wrapper-3 {
  position: absolute;
  top: 19px;
  left: 15px;
  opacity: 0.3;
  font-family: "Urbanist", serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.06px;
  line-height: 19.6px;
  white-space: nowrap;
}

.component .facebook {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 360px;
  left: 75px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 6px 10px 2px #00000026;
}

.component .img {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 15px;
  left: 15px;
}

.component .twitter {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 360px;
  left: 140px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 6px 10px 2px #00000026;
}

.component .linkedin {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 360px;
  left: 205px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 6px 10px 2px #00000026;
}

.component .main-logo {
  position: absolute;
  width: 119px;
  height: 70px;
  top: 70px;
  left: 745px;
}

.component .text-wrapper-4 {
  position: absolute;
  top: 179px;
  left: 745px;
  font-family: "Urbanist", serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.10px;
  line-height: 16.8px;
  white-space: nowrap;
}

.component .text-wrapper-5 {
  position: absolute;
  top: 204px;
  left: 745px;
  opacity: 0.6;
  font-family: "Urbanist", serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.10px;
  line-height: 16.8px;
  white-space: nowrap;
}

.component .community {
  position: absolute;
  top: 229px;
  left: 745px;
  opacity: 0.6;
  font-family: "Urbanist", serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.10px;
  line-height: 16.8px;
  white-space: nowrap;
}

.component .text-wrapper-6 {
  position: absolute;
  top: 254px;
  left: 745px;
  opacity: 0.6;
  font-family: "Urbanist", serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.10px;
  line-height: 16.8px;
  white-space: nowrap;
}

.component .text-wrapper-7 {
  position: absolute;
  top: 179px;
  left: 935px;
  font-family: "Urbanist", serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.10px;
  line-height: 16.8px;
  white-space: nowrap;
}

.component .text-wrapper-8 {
  position: absolute;
  top: 69px;
  left: 935px;
  font-family: "Urbanist", serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.10px;
  line-height: 16.8px;
  white-space: nowrap;
}

.component .text-wrapper-9 {
  position: absolute;
  top: 179px;
  left: 1175px;
  font-family: "Urbanist", serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.10px;
  line-height: 16.8px;
  white-space: nowrap;
}

.component .text-wrapper-10 {
  position: absolute;
  top: 204px;
  left: 935px;
  opacity: 0.6;
  font-family: "Urbanist", serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.10px;
  line-height: 16.8px;
  white-space: nowrap;
}

.component .text-wrapper-11 {
  position: absolute;
  top: 204px;
  left: 1175px;
  opacity: 0.6;
  font-family: "Urbanist", serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.10px;
  line-height: 16.8px;
  white-space: nowrap;
}

.component .text-wrapper-12 {
  position: absolute;
  top: 229px;
  left: 935px;
  opacity: 0.6;
  font-family: "Urbanist", serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.10px;
  line-height: 16.8px;
  white-space: nowrap;
}

.component .text-wrapper-13 {
  position: absolute;
  top: 229px;
  left: 1175px;
  opacity: 0.6;
  font-family: "Urbanist", serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.10px;
  line-height: 16.8px;
  white-space: nowrap;
}

.component .text-wrapper-14 {
  position: absolute;
  top: 254px;
  left: 935px;
  opacity: 0.6;
  font-family: "Urbanist", serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.10px;
  line-height: 16.8px;
  white-space: nowrap;
}

.component .text-wrapper-15 {
  position: absolute;
  top: 279px;
  left: 935px;
  opacity: 0.6;
  font-family: "Urbanist", serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.10px;
  line-height: 16.8px;
  white-space: nowrap;
}

.component .text-wrapper-16 {
  position: absolute;
  top: 324px;
  left: 745px;
  font-family: "Urbanist", serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.10px;
  line-height: 16.8px;
  white-space: nowrap;
}

.component .text-wrapper-17 {
  position: absolute;
  top: 353px;
  left: 745px;
  opacity: 0.6;
  font-family: "Urbanist", serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.10px;
  line-height: 16.8px;
  white-space: nowrap;
}

.component .text-wrapper-18 {
  position: absolute;
  top: 378px;
  left: 745px;
  opacity: 0.6;
  font-family: "Urbanist", serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.10px;
  line-height: 16.8px;
  white-space: nowrap;
}

.component .technology {
  position: absolute;
  width: 84px;
  top: 324px;
  left: 935px;
  font-family: "Urbanist", serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.10px;
  line-height: 16.8px;
}

.component .p {
  position: absolute;
  width: 200px;
  top: 353px;
  left: 935px;
  opacity: 0.6;
  font-family: "Urbanist", serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.10px;
  line-height: 16.8px;
}

.component .element-columbia {
  position: absolute;
  width: 180px;
  top: 94px;
  left: 935px;
  opacity: 0.6;
  font-family: "Urbanist", serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.10px;
  line-height: 16.8px;
}

.component .text-wrapper-19 {
  position: absolute;
  width: 200px;
  top: 416px;
  left: 935px;
  opacity: 0.6;
  font-family: "Urbanist", serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.10px;
  line-height: 16.8px;
}

.component .text-wrapper-20 {
  position: absolute;
  top: 324px;
  left: 1175px;
  font-family: "Urbanist", serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.10px;
  line-height: 16.8px;
  white-space: nowrap;
}

.component .text-wrapper-21 {
  position: absolute;
  top: 353px;
  left: 1175px;
  opacity: 0.6;
  font-family: "Urbanist", serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.10px;
  line-height: 16.8px;
  white-space: nowrap;
}

.component .text-wrapper-22 {
  position: absolute;
  top: 378px;
  left: 1175px;
  opacity: 0.6;
  font-family: "Urbanist", serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.10px;
  line-height: 16.8px;
  white-space: nowrap;
}

.component .line {
  position: absolute;
  width: 1px;
  height: 380px;
  top: 60px;
  left: 670px;
  object-fit: cover;
}

.component .youtube {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 360px;
  left: 270px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 6px 10px 2px #00000026;
}

.component .medium {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 360px;
  left: 335px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 6px 10px 2px #00000026;
}

.component .pinterest {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 360px;
  left: 400px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 6px 10px 2px #00000026;
}




